[global]
#
# Learning config: client-only mode.
# This clock should not become Grandmaster; it waits for another PTP master.
#
time_stamping           software
network_transport       UDPv4
delay_mechanism         E2E
domainNumber            0
clientOnly              1
priority1               128
priority2               128
logging_level           6
summary_interval        1
free_running            1
