[global]
#
# Learning config for software timestamp PTP experiments.
# This is not a final production AES67 profile.
#
time_stamping           software
network_transport       UDPv4
delay_mechanism         E2E
domainNumber            0
priority1               128
priority2               128
logging_level           6
summary_interval        1

