[global]
#
# Learning config: same basic behavior, but in PTP domain 1 instead of 0.
# Clocks in different domains do not participate in the same BMCA election.
#
time_stamping           software
network_transport       UDPv4
delay_mechanism         E2E
domainNumber            1
priority1               128
priority2               128
logging_level           6
summary_interval        1
free_running            1
