[global]
#
# Learning config: this clock is intentionally preferred by priority1.
# Use only in a controlled lab.
#
time_stamping           software
network_transport       UDPv4
delay_mechanism         E2E
domainNumber            0
priority1               100
priority2               128
logging_level           6
summary_interval        1
free_running            1
