[global]
#
# Learning config: this clock is less preferred than the default lab master.
# It can become master if no better clock is visible.
#
time_stamping           software
network_transport       UDPv4
delay_mechanism         E2E
domainNumber            0
priority1               200
priority2               128
logging_level           6
summary_interval        1
free_running            1
